/* constants */
$royal: #1e3186 !default; // would be better named "primary", but we use "royal" becuase Ionic v1
$soft-blue: #647ce8 !default;
$fill-blue: #D5DFFF !default;
$subtle-gray: darken(#fff, 5%) !default;
$roboto: "Roboto", sans-serif !default;
$roboto-light: "Roboto-Light", sans-serif-light !default;
$light-green: rgb(19, 229, 182) !default;
$success-green: #17ae8c !default;
$warning-orange: #ffa500 !default;
$warning-red: #E15061 !default;
$dark-gray: #445 !default;
$mid-gray: #667 !default;
$light-gray: #9b9bab !default;
$subtle-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) !default;
$hovering-box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.3) !default;
$subtle-radius: 3px !default;
$visible-radius: 6px !default;
$unmistakable-radius: 12px !default;

/* Set ionic variables */

$positive:                        $soft-blue !default;

$font-size-base:                  16px !default;
$font-size-small:                 12px !default;
$font-family-sans-serif:          $roboto !default;
$font-family-light-sans-serif:    $roboto-light !default;

$button-border-radius:            $subtle-radius !default;
$button-height:                   52px !default;
$button-padding:                  16px !default;

$base-background-color:           $subtle-gray !default;

$item-default-active-bg:          $subtle-gray !default;
$item-icon-font-size:             24px !default;

$input-color:                     $dark-gray !default;
$input-border:                    $light-gray !default;
$input-label-color:               $mid-gray !default;
$input-color-placeholder:         lighten($dark-gray, 40%) !default;

$item-default-bg:                 #ffffff !default;
$item-default-border:             $subtle-gray !default;
$item-default-text:               $dark-gray !default;
$item-default-active-bg:          darken(#ffffff, 7%) !default;
$item-default-active-border:      darken($subtle-gray, 7%) !default;
$item-divider-bg:                 $subtle-gray !default;

$bar-default-border:              $subtle-gray !default;

$tabs-icon-size: 22px !default;

$ios-transition-duration: 200ms !default;

$card-box-shadow: $subtle-box-shadow !default;
