<div 
  class="topbar-container" 
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Add Wallet'; closeToHome = true; useTheme = true">
</div>

<ion-content class="content" ng-class="{'status-bar-content':index.useViewManagedStatusBar}" ng-style="{'background':theme.view.viewBackground}">
<ul class="no-bullet manage size-12">
	<li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
		<a title="Create new wallet" ng-click="$root.go('create')">
			<i class="fi-plus circle plus-fixed" ng-style="{'background':theme.view.iconBackground}"></i>
			<i class="icon-arrow-right3 size-24 right m20t text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}"></i>  
			<span ng-style="{'color':theme.view.viewPrimaryTextColor}" translate>Create New Wallet</span>
		</a>
	</li>
	<li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
		<a title="Join shared wallet" ng-click="$root.go('join')">
			<i class="icon-people circle" ng-style="{'background':theme.view.iconBackground}"></i>	  
			<i class="icon-arrow-right3 size-24 right m20t text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}"></i>  
			<span ng-style="{'color':theme.view.viewPrimaryTextColor}" translate>Join Shared Wallet</span>
		</a>
	</li>
	<li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
		<a title="Import wallet" ng-click="$root.go('import')">
			<i class="icon-download circle" ng-style="{'background':theme.view.iconBackground}"></i>
			<i class="icon-arrow-right3 size-24 right m20t text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}"></i>  
			<span ng-style="{'color':theme.view.viewPrimaryTextColor}" translate>Import Wallet </span>
		</a>
	</li>

</ul>
</ion-content>
