<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="useTheme = false">
</div>

<ion-content class="content" ng-controller="copayersController as copayers" ng-init="copayers.init()"
  ng-class="{'status-bar-content':index.isCordova}" ng-style="{'background':skin.view.viewBackground}">
  <div ng-show="!index.notAuthorized">
    <h1 class="text-center p10t m10" ng-style="{'color':skin.view.viewPrimaryTextColor}" translate>Share this invitation with your copayers</h1>

    <div ng-click="copayers.copySecret(index.walletSecret)" ng-class="{'enable_text_select': !index.isCordova}">
      <div class="text-center">
        <qrcode size="220" error-correction-level="L" data="{{index.walletSecret}}"></qrcode>
        <div ng-show="!index.walletSecret" style="position:relative; top:-226px; height:0px">
          <div style="height:220px; width:220px; margin:auto;" ng-style="{'background':skin.view.progressBackground, 'color':skin.view.progressTextColor}">
            <div class="spinner" style="margin-top:85px">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
            </div>
          </div>
        </div>
        <div class="secret" ng-style="{'color':skin.view.viewPrimaryTextColor}">
          {{index.walletSecret || ('Loading...'|translate)}}
        </div>
      </div>
    </div>

    <div ng-show="index.walletSecret">
      <div class="text-center m10t" ng-if="index.isCordova">
        <span class="button outline round dark-gray tiny m0"
          ng-style="{'background':skin.view.secondaryButtonBackground, 'border':skin.view.secondaryButtonBorder, 'color':skin.view.secondaryButtonTextColor}"
          ng-click="copayers.shareSecret(index.walletSecret)">
          <i class="fi-share"></i>
          <span translate>Share invitation</span>
        </span>
      </div>
      
      <div class="m30v line-t" ng-style="{'border-top-color': skin.view.viewListItemSeparatorColor}">
        <h4 class="size-14 p10h m10t" ng-style="{'color':skin.view.viewPrimaryTextColor}">
          <span translate>Waiting for copayers</span>
          <span class="text-gray right" ng-style="{'color':skin.view.viewSecondaryTextColor}">
            [ <span translate>{{index.m}}-of-{{index.n}}</span> ]
          </span>
        </h4>
        <div ng-include="'views/includes/copayers.html'"></div>
        <ul class="no-bullet m0">
          <li class="line-b p10"
            ng-style="{'background':skin.view.viewListItemBackground, 'border-bottom-color':skin.view.viewListItemSeparatorColor}">
          <span class="size-12" ng-style="{'color':skin.view.viewPrimaryTextColor}" translate>
            <i class="fi-loop m5r"></i>Waiting...
          </span>
          </li>
        </ul>
      </div>

      <div class="m20b text-center" ng-show="index.notAuthorized">
        <h1 ng-style="{'color':skin.view.viewPrimaryTextColor}" translate>Wallet incomplete and broken</h1>
        <h4 ng-style="{'color':skin.view.viewPrimaryTextColor}" translate>Delete it and create a new one</h4>
      </div>

      <div class="text-center">
        <button class="tiny round outline dark-gray"
          ng-style="{'background':skin.view.secondaryButtonBackground, 'border':skin.view.secondaryButtonBorder, 'color':skin.view.secondaryButtonTextColor}"
          ng-click="copayers.deleteWallet()">
          <i class="fi-trash"></i> <span translate>Cancel and delete the wallet</span>
        </button>
      </div>
    </div>
  </div>

  <div class="extra-margin-bottom"></div>
</ion-content>

