<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Import Legacy Wallet'; goBackToState = 'import'; useTheme = true">
</div>

<ion-content class="content p20v" ng-controller="importLegacyController as importLegacy"
  ng-class="{'status-bar-content':index.useViewManagedStatusBar}" ng-style="{'background':theme.view.viewBackground}">
  <div class="row m20t">
    <div class="large-12 columns">
      <div ng-show="importLegacy.importing">
        <h1 class="m20b animated infinite flash" translate>Importing...</h1>
        <ul>
          <li ng-repeat="m in importLegacy.messages">
          <span ng-style="{'opacity':m.opacity}">{{m.message|translate}}</span>
        </ul>
      </div>

      <div class="box-notification" ng-show="importLegacy.error">
        <span class="size-14" ng-style="{'color':theme.view.viewAlertTextColor}">
          {{importLegacy.error|translate}}
        </span>
      </div>

      <div ng-show="!importLegacy.importing">
        <form name="importForm" ng-submit="importLegacy.import(importForm)" novalidate>

          <label for="fromCloud" class="line-b oh m20b"
            ng-style="{'border-bottom-color':theme.view.viewListItemSeparatorColor}">
            <span ng-style="{'color':theme.view.viewPrimaryTextColor}" translate>Import from the Cloud?</span>
            <span class="right m5t m10b">
              <label class="toggle">
                 <input type="checkbox" id="fromCloud" name="fromCloud" ng-model="importLegacy.fromCloud">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
              </label>
            </span>
          </label>

          <label for="username">
            <span ng-show="importLegacy.fromCloud" ng-style="{'color':theme.view.viewPrimaryTextColor}" translate>Email</span>
            <span ng-show="!importLegacy.fromCloud" ng-style="{'color':theme.view.viewPrimaryTextColor}" translate>Username</span>
            <input type="text" class="form-control" 
            placeholder="{{importLegacy.fromCloud ? ('Email'|translate): ('Username'|translate)}}"
            name="username" ng-model="importLegacy.username" autocapitalize="off" required
            ng-style="{'color':theme.view.viewSecondaryTextColor, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
          </label>

          <label for="password">
            <span ng-style="{'color':theme.view.viewPrimaryTextColor}" translate>Password</span>
            <input type="password" class="form-control" placeholder="{{'Your profile password'|translate}}"
            name="password" ng-model="importLegacy.password" required
            ng-style="{'color':theme.view.viewSecondaryTextColor, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
          </label>

          <label for="server" ng-show="importLegacy.fromCloud">
            <span ng-style="{'color':theme.view.viewPrimaryTextColor}" translate>Server</span>
            <input type="text" class="form-control" placeholder="{{'Server URL'}}"
            name="server" ng-model="importLegacy.server" required
            ng-style="{'color':theme.view.viewSecondaryTextColor, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
          </label>

          <button translate type="submit"
            class="button black round expand m0"
            ng-style="{'background':theme.view.primaryButtonBackground, 'border':theme.view.primaryButtonBorder, 'color':theme.view.primaryButtonTextColor}"
            ng-disabled="importForm.$invalid">
            Import
          </button>
        </form>

        <div class="text-center p20v">
          <a class="m20t tiny button outline round light-gray "
            ng-style="{'background':theme.view.secondaryButtonBackground, 'border':theme.view.secondaryButtonBorder, 'color':theme.view.secondaryButtonTextColor}"
            ng-click="$root.openExternalLink('https://github.com/bitpay/copay/releases/tag/v0.10.0')" translate>
            Learn more about Wallet Migration
          </a>
        </div>

      </div>
    </div>
  </div>
</ion-content>
