<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Import Wallet';  goBackToState = 'add'; useTheme = true">
</div>

<ion-content class="content p20b" ng-controller="importController as import" ng-init="type='12'"
  ng-class="{'status-bar-content':index.isCordova}" ng-style="{'background':theme.view.viewBackground}">
  <div class="onGoingProcess" ng-show="import.loading  && !import.hwWallet">
    <div class="onGoingProcess-content" ng-style="{'background':theme.view.progressBackground, 'color':theme.view.progressTextColor}">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>false
    </div>
    <span translate>Importing wallet...</span>
    </div>
  </div>
  <div class="onGoingProcess" ng-show="import.hwWallet">
    <div class="onGoingProcess-content" ng-style="{'background':theme.view.progressBackground, 'color':theme.view.progressTextColor}">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <span translate>Connecting to {{import.hwWallet}} Wallet...</span>
    </div>
  </div>

  <div class="create-tab pr small-only-text-center" ng-hide="create.hideTabs"
    ng-style="{'color':theme.view.viewSectionHeaderColor, 'background':theme.view.viewSectionHeaderBackground, 'border-bottom-color':theme.view.primaryColor}">
    <div class="row">
      <div class="tab-container small-4 medium-4 large-4" ng-class="{'selected': type =='12'}"
        ng-style="{'border-bottom-color': type =='12' && theme.view.primaryColor}">
        <a href
          ng-style="{'color': type =='12' ? theme.view.primaryColor : theme.view.viewSecondaryTextColor}"
          ng-click="import.setType('12')" translate>Wallet Seed</a>
      </div>
      <div class="tab-container small-4 medium-4 large-4" ng-class="{'selected': type=='file'}"
        ng-style="{'border-bottom-color': type =='file' && theme.view.primaryColor}">
        <a href
          ng-style="{'color': type =='file' ? theme.view.primaryColor : theme.view.viewSecondaryTextColor}"
          ng-click="import.setType('file')" translate>File/Text Backup</a>
      </div>
      <div class="tab-container small-4 medium-4 large-4" ng-class="{'selected': type=='hwWallet'}"
        ng-style="{'border-bottom-color': type =='hwWallet' && theme.view.primaryColor}">
        <a href
          ng-style="{'color': type =='hwWallet' ? theme.view.primaryColor : theme.view.viewSecondaryTextColor}"
          ng-click="import.setType('hwWallet')">Hardware Wallet</a>
      </div>
    </div>
  </div>

  <div ng-show="type == '12' ">
    <div class="box-notification m20b" ng-show="import.error">
      <span ng-style="{'color':theme.view.viewAlertTextColor}">
        {{import.error|translate}}
      </span>
    </div>
    <div class="row large-12 columns">
        <form name="importForm12" ng-submit="import.importMnemonic(importForm12)" novalidate> 
          <div class="large-12 columns">

            <div >
              <label for="words">
                <span ng-style="{'color':theme.view.viewPrimaryTextColor}" translate>Type the Seed Phrase</span>
                <small ng-style="{'color':theme.view.viewSecondaryTextColor}" translate><span>Usually 12 words</span></small>
              </label>
              <textarea class="form-control" name="words" ng-model="import.words" rows="2" autocapitalize="off" spellcheck="false"
                ng-style="{'color':theme.view.viewSecondaryTextColor, 'border-bottom-color':theme.view.viewListItemSeparatorColor}"></textarea>
            </div>

            <div class="m10t oh" ng-init="hideAdv=true">
              <a class="button outline light-gray expand tiny"
                ng-style="{'background':theme.view.secondaryButtonBackground, 'border':theme.view.secondaryButtonBorder}"
                ng-click="hideAdv=!hideAdv">
                <i class="fi-widget m3r" ng-style="{'color':theme.view.secondaryButtonTextColor}"></i>
                <span ng-style="{'color':theme.view.secondaryButtonTextColor}"
                  translate ng-hide="!hideAdv">Show advanced options</span>
                <span ng-style="{'color':theme.view.secondaryButtonTextColor}"
                  translate ng-hide="hideAdv">Hide advanced options</span>
                <i ng-if="hideAdv" class="icon-arrow-down4" ng-style="{'color':theme.view.secondaryButtonTextColor}"></i>
                <i ng-if="!hideAdv" class="icon-arrow-up4" ng-style="{'color':theme.view.secondaryButtonTextColor}"></i>
              </a>
            </div>
            <div ng-hide="hideAdv" class="row">
              <div class="large-12 columns">

                <label for="passphrase" class="oh"><span ng-style="{'color':theme.view.viewPrimaryTextColor}" translate>Passphrase</span>  <small ng-style="{'color':theme.view.viewSecondaryTextColor}" translate>Wallet Seed could require a passphrase to be imported</small>
                <div class="input">
                  <input type="password" class="form-control" placeholder="{{'Seed passphrase'|translate}}"
                  name="passphrase" ng-model="import.passphrase"
                  ng-style="{'color':theme.view.viewSecondaryTextColor, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
                </div>
                </label>

                <div>
                  <label class="oh"><span ng-style="{'color':theme.view.viewPrimaryTextColor}" translate>Derivation Path</span> <small ng-style="{'color':theme.view.viewSecondaryTextColor}" translate>BIP32 path for address derivation</small>
                    <input type="text" class="form-control" name="derivationPath" ng-model="derivationPath"
                      ng-style="{'color':theme.view.viewSecondaryTextColor, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
                  </label>
                </div>
   
                <label  for="bws" class="oh">
                  <span ng-style="{'color':theme.view.viewPrimaryTextColor}" >Wallet Service URL</span>
                  <input type="text" id="bwsurl" name="bwsurl" ng-model="bwsurl"
                    ng-style="{'color':theme.view.viewSecondaryTextColor, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
                </label>
              </div>
            </div>

            <button translate type="submit" class="button round expand black m10t"
              ng-style="{'background':theme.view.primaryButtonBackground, 'border':theme.view.primaryButtonBorder, 'color':theme.view.primaryButtonTextColor}"
              ng-disabled="importForm12.$invalid || import.loading">
              Import
            </button>
          </div>
        </form>
    </div>
  </div>

  <div ng-show="type == 'file' ">
    <div class="box-notification m20b" ng-show="import.error">
      <span class="size-14" ng-style="{'color':theme.view.viewAlertTextColor}">
        {{import.error|translate}}
      </span>
    </div>
    <div class="row large-12 columns">
        <form name="importForm" ng-submit="import.importBlob(importForm)" novalidate> 
          <div class="large-12 columns">

            <div ng-show="!index.isSafari && !index.isCordova" class="line-b m10b">
              <label for="backupFile">
                <span ng-style="{'color':theme.view.viewPrimaryTextColor}" translate>Choose a backup file from your computer</span>  <i class="fi-laptop" ng-style="{'color':theme.view.viewPrimaryTextColor}"></i>
              </label>
              <input type="file" class="form-control" placeholder="{{'Select a backup file'|translate}}"
              name="backupFile" ng-model="import.backupFile" ng-file-select style="background: transparent"
              ng-style="{'color':theme.view.viewSecondaryTextColor, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
            </div>

            <div ng-show="index.isSafari || index.isCordova">
              <label for="backupText">
                <span ng-style="{'color':theme.view.viewPrimaryTextColor}" translate>Paste the backup plain text code</span>  <i class="fi-clipboard" ng-style="{'color':theme.view.viewSecondaryTextColor}"></i>
              </label>
              <textarea class="form-control" name="backupText" ng-model="import.backupText" rows="5"
                ng-style="{'color':theme.view.viewSecondaryTextColor, 'border-bottom-color':theme.view.viewListItemSeparatorColor}"></textarea>
            </div>

            <label for="password"><span ng-style="{'color':theme.view.viewPrimaryTextColor}" translate>Password</span>
            </label>
            <div class="input">
              <input type="password" class="form-control" placeholder="{{'Your backup password'|translate}}"
              name="password" ng-model="import.password"
              ng-style="{'color':theme.view.viewSecondaryTextColor, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
            </div>

            <div class="m10t oh" ng-init="hideAdv=true">
              <a class="button outline light-gray expand tiny"
                ng-style="{'background':theme.view.secondaryButtonBackground, 'border':theme.view.secondaryButtonBorder}"
                ng-click="hideAdv=!hideAdv">
                <i class="fi-widget m3r" ng-style="{'color':theme.view.secondaryButtonTextColor}"></i>
                <span ng-style="{'color':theme.view.secondaryButtonTextColor}"
                  translate ng-hide="!hideAdv">Show advanced options</span>
                <span ng-style="{'color':theme.view.secondaryButtonTextColor}"
                  translate ng-hide="hideAdv">Hide advanced options</span>
                <i ng-if="hideAdv" class="icon-arrow-down4" ng-style="{'color':theme.view.secondaryButtonTextColor}"></i>
                <i ng-if="!hideAdv" class="icon-arrow-up4" ng-style="{'color':theme.view.secondaryButtonTextColor}"></i>
              </a>
            </div>
            <div ng-hide="hideAdv" class="row">
              <div class="large-12 columns">

                <label  for="bws" class="oh">
                  <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Wallet Service URL</span>
                  <input type="text" id="bwsurl" name="bwsurl" ng-model="bwsurl"
                    ng-style="{'color':theme.view.viewSecondaryTextColor, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
                </label>
              </div>
            </div>

            <button translate type="submit" class="button round expand black"
              ng-style="{'background':theme.view.primaryButtonBackground, 'border':theme.view.primaryButtonBorder, 'color':theme.view.primaryButtonTextColor}"
              ng-disabled="importForm.$invalid || !import.password || import.loading">
              Import backup
            </button>
          </div>
        </form>

        <div class="text-center text-gray p20v" ng-click="$root.go('importLegacy')">
          <p class="text-gray m5b size-14" ng-style="{'color':theme.view.viewSecondaryTextColor}" translate> Have a Backup from Copay v0.9?</p>
          <button class=" outline dark-gray tiny round"
            ng-style="{'background':theme.view.secondaryButtonBackground, 'border':theme.view.secondaryButtonBorder, 'color':theme.view.secondaryButtonTextColor}">
            <span translate>Import here</span>
            <i class="icon-arrow-right3 size-14"></i>
          </button>
        </div>

    </div>
  </div>

  <div ng-show="type == 'hwWallet'">
    <div class="box-notification m20b" ng-show="import.error">
      <span class="size-14" ng-style="{'color':theme.view.viewAlertTextColor}">
        {{import.error|translate}}
      </span>
    </div>
    <div class="row large-12 columns"> 

      <form name="importForm3" ng-submit="import.importHW(importForm3)" novalidate>
        <div class="large-12 columns">
          <div ng-show="!import.seedOptions[0]">
            <span ng-style="{'color':theme.view.viewPrimaryTextColor}" translate>No hardware wallets supported on this device</span>
          </div>
          <div ng-show="import.seedOptions[0]">
            <div>
              <label><span ng-style="{'color':theme.view.viewPrimaryTextColor}" translate>Wallet Seed</span>
              <select class="m10t" ng-model="seedSource"
                ng-options="seed as seed.label for seed in import.seedOptions"
                ng-change="import.setSeedSource()"
                ng-style="{'color':theme.view.secondaryButtonTextColor, 'background':theme.view.secondaryButtonBackground, 'border':theme.view.secondaryButtonBorder}">
              </select>
              </label>
            </div>

            <div ng-show="import.seedSourceId == 'trezor' || import.seedSourceId == 'ledger'">

              <label class="oh"><span ng-style="{'color':theme.view.viewPrimaryTextColor}" translate>Account Number</span>
                <input type="number" id="account" ng-model="account"
                  ng-style="{'color':theme.view.viewSecondaryTextColor, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
              </label>
            </div>

            <div ng-show="import.seedSourceId == 'trezor'">
              <label for="isMultisig" class="oh">
                <span ng-style="{'color':theme.view.viewPrimaryTextColor}" translate>Shared Wallet</span>
                <span class="right m5t m10b">
                  <label class="toggle">
                     <input type="checkbox" id="isMultisig" name="isMultisig" ng-model="isMultisig">
                     <div class="track">
                       <div class="handle"></div>
                     </div>
                  </label>
                </span>
              </label>
            </div>
            <div class="m10t oh" ng-init="hideAdv=true">
              <a class="button outline light-gray expand tiny"
                ng-style="{'background':theme.view.secondaryButtonBackground, 'border':theme.view.secondaryButtonBorder}"
                ng-click="hideAdv=!hideAdv">
                <i class="fi-widget m3r" ng-style="{'color':theme.view.secondaryButtonTextColor}"></i>
                <span ng-style="{'color':theme.view.secondaryButtonTextColor}"
                  translate ng-hide="!hideAdv">Show advanced options</span>
                <span ng-style="{'color':theme.view.secondaryButtonTextColor}"
                  translate ng-hide="hideAdv">Hide advanced options</span>
                <i ng-if="hideAdv" class="icon-arrow-down4" ng-style="{'color':theme.view.secondaryButtonTextColor}"></i>
                <i ng-if="!hideAdv" class="icon-arrow-up4" ng-style="{'color':theme.view.secondaryButtonTextColor}"></i>
              </a>
            </div>
            <div ng-hide="hideAdv" class="row">
              <div class="large-12 columns">
                <label  for="bws" class="oh">
                  <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Wallet Service URL</span>
                  <input type="text" id="bwsurl" name="bwsurl" ng-model="bwsurl"
                    ng-style="{'color':theme.view.viewSecondaryTextColor, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
                </label>
              </div>
            </div>


            <button translate type="submit" class="button round expand black"
              ng-style="{'background':theme.view.primaryButtonBackground, 'border':theme.view.primaryButtonBorder, 'color':theme.view.primaryButtonTextColor}"
              ng-disabled="import.loading || import.ledger">
              Import
            </button>
          </div> <!-- seedoptions show -->
        </div>
      </form>
    </div>
  </div>
</ion-content>

<div class="extra-margin-bottom"></div>
