<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Join Shared Wallet'; goBackToState = 'add'; useTheme = true">
</div>


<ion-pane class="content p20v" ng-controller="joinController as join"
  ng-class="{'status-bar-content':index.isCordova}" ng-style="{'background':theme.view.viewBackground}">
  <div class="onGoingProcess" ng-show="join.loading && !join.hwWallet">
    <div class="onGoingProcess-content" ng-style="{'background':theme.view.progressBackground, 'color':theme.view.progressTextColor}">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <span translate>Joining Wallet...</span>
    </div>
  </div>

  <div class="onGoingProcess" ng-show="join.hwWallet">
    <div class="onGoingProcess-content" ng-style="{'background':theme.view.progressBackground, 'color':theme.view.progressTextColor}" style="max-height:6.5em">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <span translate>Connecting to {{join.hwWallet}} Wallet...</span>
    <span ng-show="join.hwWallet=='Trezor'" translate>Please accept to export two public keys from the Trezor app</span>
    </div>
  </div>

<ion-scroll delegate-handle="joinWallet">

  <form name="joinForm" ng-submit="join.join(joinForm)" novalidate>
    <div class="box-notification m20b" ng-show="join.error ">
      <span class="size-14" ng-style="{'color':theme.view.viewAlertTextColor}">
        {{join.error|translate}}
      </span>
    </div>
    <div class="row">
      <div class="large-12 columns"> 

        <div>
          <label><span ng-style="{'color':theme.view.viewPrimaryTextColor}" translate>Your nickname</span>
            <div class="input">
              <input type="text" placeholder="{{'John'|translate}}" class="form-control" name="myName" ng-model="join.myName" ng-required="true"
                ng-style="{'color':theme.view.viewSecondaryTextColor, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
            </div>
          </label>
        </div>

        <div class="row collapse">
          <label for="secret" class="left"><span ng-style="{'color':theme.view.viewPrimaryTextColor}" translate>Wallet Invitation</span>
            <small ng-style="{'color':theme.view.viewSecondaryTextColor}" translate ng-show="joinForm.secret.$pristine">Required</small>
          </label>
          <span class="has-error right size-12" ng-style="{'color':theme.view.viewAlertTextColor}" ng-show="joinForm.secret.$invalid
            && !joinForm.secret.$pristine">
            <span class="icon-input"><i class="fi-x"></i></span>
            <span translate>Wallet Invitation is not valid!</span>
          </span>
          <small class="icon-input right" ng-show="joinForm.secret.$valid
            && !joinForm.secret.$pristine"><i class="fi-check"></i></small>
        </div>

        <div class="input">
          <input id="secret" type="text" placeholder="{{'Paste invitation here'|translate}}" name="secret" ng-model="join.secret" wallet-secret required
            ng-style="{'color':theme.view.viewSecondaryTextColor, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
          <div class="qr-scanner-input" ng-style="{'color':skin.view.viewPrimaryTextColor}">
            <qr-scanner on-scan="join.onQrCodeScanned(data)"></qr-scanner>
          </div>
        </div>

        <div class="m10t oh">
          <a class="button outline light-gray expand tiny"
            ng-style="{'background':theme.view.secondaryButtonBackground, 'border':theme.view.secondaryButtonBorder}"
            ng-click="join.setAdvanced('joinWallet')">
            <i class="fi-widget m3r" ng-style="{'color':theme.view.secondaryButtonTextColor}"></i>
            <span ng-style="{'color':theme.view.secondaryButtonTextColor}"
              translate ng-show="!join.advanced">Show advanced options</span>
            <span ng-style="{'color':theme.view.secondaryButtonTextColor}"
              translate ng-show="join.advanced">Hide advanced options</span>
            <i ng-if="!join.advanced" class="icon-arrow-down4" ng-style="{'color':theme.view.secondaryButtonTextColor}"></i>
            <i ng-if="join.advanced" class="icon-arrow-up4" ng-style="{'color':theme.view.secondaryButtonTextColor}"></i>
          </a>
        </div>

        <div ng-show="join.advanced" class="row">
          <div class="large-12 columns">
            <div>
              <label for="bws" class="oh">
                <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Wallet Service URL</span>
                <input type="text" id="bwsurl" name="bwsurl" ng-model="join.bwsurl"
                  ng-style="{'color':theme.view.viewSecondaryTextColor, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
              </label>
            </div>

            <div>
              <label><span ng-style="{'color':theme.view.viewPrimaryTextColor}" translate>Wallet Seed</span>
              <select class="m10t" ng-model="join.seedSource"
                ng-options="seed as seed.label for seed in join.seedOptions"
                ng-change="join.setSeedSource()"
                ng-style="{'color':theme.view.secondaryButtonTextColor, 'background':theme.view.secondaryButtonBackground, 'border':theme.view.secondaryButtonBorder}">
              </select>
              </label>
            </div>

            <div ng-show="join.seedSourceId == 'trezor' || join.seedSourceId == 'ledger'">
              <label class="oh"><span ng-style="{'color':theme.view.viewPrimaryTextColor}" translate>Account Number</span>
                <input type="number" id="account" ng-model="join.account"
                  ng-style="{'color':theme.view.viewSecondaryTextColor, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
              </label>
            </div>

            <div class="box-notification" ng-show="join.seedSourceId=='new' && createPassphrase">
              <span class="size-14" ng-style="{'color':theme.view.viewAlertTextColor}">
                <i class="fi-alert"></i>
                <span translate>
                <i class="fi-alert"></i>&nbsp;WARNING: Passphrase cannot be recovered. <b>Be sure to write it down</b>. The wallet can not be restored without the passphrase.
                </span>
              </span>
            </div>

            <div ng-show="join.seedSourceId=='new' ">
              <label for="createPassphrase"  ><span ng-style="{'color':theme.view.viewPrimaryTextColor}" translate>Add a Seed Passphrase</span>  <small ng-style="{'color':theme.view.viewSecondaryTextColor}" translate>Add an optional passphrase to secure the seed</small>
                <div class="input">
                  <input type="text" class="form-control" autocapitalize="off"
                  name="createPassphrase" ng-model="join.createPassphrase"
                  ng-style="{'color':theme.view.viewSecondaryTextColor, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
                </div>
              </label>
            </div>

            <div ng-show="join.seedSourceId=='set'">
              <label for="ext-master">
                <span ng-style="{'color':theme.view.viewPrimaryTextColor}" translate>Wallet Seed</span>
                <small ng-style="{'color':theme.view.viewSecondaryTextColor}" translate>Enter the seed words (BIP39)</small>
                <input id="ext-master"
                autocapitalize="off"
                type="text"
                name="privateKey" ng-model="join.privateKey"
                ng-style="{'color':theme.view.viewSecondaryTextColor, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
              </label>
            </div>

            <div ng-show="join.seedSourceId=='set'">
              <label for="passphrase"> <span ng-style="{'color':theme.view.viewPrimaryTextColor}" translate>Seed Passphrase</span>  <small ng-style="{'color':theme.view.viewSecondaryTextColor}" translate>The seed could require a passphrase to be imported</small>
                <div class="input">
                  <input type="text" autocapitalize="off" class="form-control" name="passphrase" ng-model="join.passphrase"
                    ng-style="{'color':theme.view.viewSecondaryTextColor, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
                </div>
              </label>
            </div>
            <div ng-show="join.seedSourceId == 'set'">
              <label class="oh"><span ng-style="{'color':theme.view.viewPrimaryTextColor}" translate>Derivation Path</span> <small ng-style="{'color':theme.view.viewSecondaryTextColor}" translate>BIP32 path for address derivation</small>
                <input type="text" class="form-control" name="derivationPath" ng-model="join.derivationPath"
                  ng-style="{'color':theme.view.viewSecondaryTextColor, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
              </label>
            </div>
          </div> <!-- columns -->
        </div> <!-- advanced -->

        <button translate type="submit" class="button expand black m50b round"
          ng-style="{'background':theme.view.primaryButtonBackground, 'border':theme.view.primaryButtonBorder, 'color':theme.view.primaryButtonTextColor}"
          ng-disabled="joinForm.$invalid || join.loading">Join</button>
      </div> <!-- large-12 columns -->
    </div> <!-- row -->
  </form>
</ion-scroll>

</ion-pane>

<div class="extra-margin-bottom"></div>
