<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Wallet Alias'; goBackToState = 'preferences'; useTheme = false">
</div>

<ion-content class="content preferences" ng-controller="preferencesAliasController as prefAlias"
  ng-class="{'status-bar-content':index.useViewManagedStatusBar}" ng-style="{'background':skin.view.viewBackground}">


  <h4 ng-style="{'background':skin.view.viewBackground}"></h4>
  <form name="settingsAliasForm" ng-submit="prefAlias.save()" class="columns"
    ng-style="{'background':skin.view.viewListItemBackground}">
    <label><span ng-style="{'color':skin.view.viewPrimaryTextColor}" translate>Alias for <i>{{index.walletName}}</i></span></label>
    <input type="text" id="alias2" type="text" name="alias2" ng-model="prefAlias.alias"
      ng-style="{'color':skin.view.viewSecondaryTextColor, 'border-bottom-color':skin.view.viewListItemSeparatorColor}">
    <input type="submit" class="button expand black round" value="{{'Save'|translate}}"
    ng-style="{'background':skin.view.primaryButtonBackground, 'border':skin.view.primaryButtonBorder, 'color':skin.view.primaryButtonTextColor}">
  </form>
    <div class="text-gray size-12 text-center" ng-style="{'color':skin.view.viewSecondaryTextColor}" translate>Changing wallet alias only affects the local wallet name.
  </div>
</ion-content>
<div class="extra-margin-bottom"></div>
