<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Preferences'; goBackToState = 'glidera'; useTheme = true">
</div>

<ion-content class="content preferences" ng-controller="preferencesGlideraController as glidera"
  ng-class="{'status-bar-content':index.useViewManagedStatusBar}" ng-style="{'background':theme.view.viewBackground}">

  <ul ng-if="index.glideraToken" class="no-bullet m0">
    <h4 class="title m0" ng-style="{'color':theme.view.viewSectionHeaderColor, 'background':theme.view.viewSectionHeaderBackground}">Permissions</h4>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Email</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{index.glideraPermissions.view_email_address}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Personal Information</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{index.glideraPermissions.personal_info}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Buy/Sell</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{index.glideraPermissions.transact}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Transaction History</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{index.glideraPermissions.transaction_history}}
    </span>
    </li>
  </ul>

  <ul ng-if="index.glideraPermissions.view_email_address"
    ng-init="glidera.getEmail(index.glideraToken)"
    class="no-bullet m0">
    <h4 class="title m0" ng-style="{'color':theme.view.viewSectionHeaderColor, 'background':theme.view.viewSectionHeaderBackground}">Email</h4>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Email</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.email.email}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Active</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.email.userEmailIsSetup}}
    </span>
    </li>
  </ul>

  <ul ng-if="index.glideraPermissions.personal_info"
    ng-init="glidera.getPersonalInfo(index.glideraToken)"
    class="no-bullet m0">
    <h4 class="title m0" ng-style="{'color':theme.view.viewSectionHeaderColor, 'background':theme.view.viewSectionHeaderBackground}">Personal Information</h4>

    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">First Name</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.personalInfo.firstName}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Middle Name</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.personalInfo.middleName}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Last Name</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.personalInfo.lastName}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Birth Date</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.personalInfo.birthDate}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Address 1</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.personalInfo.address1}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Address 2</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.personalInfo.address2}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">City</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.personalInfo.city}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">State</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.personalInfo.state}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">ZIP Code</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.personalInfo.zipCode}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Country</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.personalInfo.countryCode}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Occupation</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.personalInfo.occupation}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Basic Information State</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.personalInfo.basicInfoState}}
    </span>
    </li>
  </ul>

  <ul ng-if="index.glideraToken" ng-init="glidera.getStatus(index.glideraToken)"
    class="no-bullet m0">
    <h4 class="title m0" ng-style="{'color':theme.view.viewSectionHeaderColor, 'background':theme.view.viewSectionHeaderBackground}">Status</h4>

    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Buy/Sell</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.status.userCanTransact}}
    </span>
    </li>

    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Buy</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.status.userCanBuy}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Sell</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.status.userCanSell}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Email Is Setup</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.status.userEmailIsSetup}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Phone Is Setup</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.status.userPhoneIsSetup}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Bank Account Is Setup</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.status.userBankAccountIsSetup}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Personal Information State</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.status.personalInfoState}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Bank Account State</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.status.bankAccountState}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Country</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.status.country}}
    </span>
    </li>
  </ul>

  <ul ng-if="index.glideraToken" ng-init="glidera.getLimits(index.glideraToken)"
    class="no-bullet m0">
    <h4 class="title m0" ng-style="{'color':theme.view.viewSectionHeaderColor, 'background':theme.view.viewSectionHeaderBackground}">Limits</h4>

    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Daily Buy</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.limits.dailyBuy|currency:'':2}} {{glidera.limits.currency}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Daily Sell</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.limits.dailySell|currency:'':2}} {{glidera.limits.currency}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Monthly Buy</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.limits.monthlyBuy|currency:'':2}} {{glidera.limits.currency}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Monthly Sell</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.limits.monthlySell|currency:'':2}} {{glidera.limits.currency}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Daily Buy Remaining</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.limits.dailyBuyRemaining|currency:'':2}} {{glidera.limits.currency}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Daily Sell Remaining</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.limits.dailySellRemaining|currency:'':2}} {{glidera.limits.currency}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Monthly Buy Remaining</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.limits.monthlyBuyRemaining|currency:'':2}} {{glidera.limits.currency}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Monthly Sell Remaining</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.limits.monthlySellRemaining|currency:'':2}} {{glidera.limits.currency}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span ng-style="{'color':theme.view.viewPrimaryTextColor}">Buy/Sell Disabled (pending first transaction)</span>
    <span class="right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}">
      {{glidera.limits.transactDisabledPendingFirstTransaction}}
    </span>
    </li>
  </ul>

  <ul class="no-bullet m0">
    <h4 class="title m0" ng-style="{'color':theme.view.viewSectionHeaderColor, 'background':theme.view.viewSectionHeaderBackground}">Account</h4>

    <li ng-click="glidera.revokeToken(index.glideraTestnet)"
      ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <i class="icon-arrow-right3 size-24 right text-gray" ng-style="{'color':theme.view.viewSecondaryTextColor}"></i>
    <span ng-style="{'color':theme.view.viewAlertTextColor}">Log out</span>
    </li>
  </ul>
  <h4 ng-style="{'background':theme.view.viewBackground}"></h4>

</ion-content>
<div class="extra-margin-bottom"></div>
