<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Delete Seed Words'; goBackToState = 'preferences'">
</div>


<ion-content class="content preferences" ng-controller="preferencesDeleteWordsController as preferences"
  ng-class="{'status-bar-content':index.isCordova}" ng-style="{'background':skin.view.viewBackground}">

  <div ng-show="!preferences.deleted">
    <div class="row text-center text-gray m20t size-12">
      <div class="box-notification" ng-style="{'color':skin.view.viewAlertTextColor}" ng-show="preferences.error" >
        {{preferences.error|translate}}
      </div>
      <div class="size-18 m10b" ng-style="{'color':skin.view.viewAlertTextColor}" translate><i class="fi-alert"></i>&nbsp;WARNING</div>
      <div class="columns m20b" ng-style="{'color':skin.view.viewSecondaryTextColor}" ng-show="!index.needsBackup" translate>Once you have copied your wallet seed down, it is recommended to delete it from this device.</div>
      <div class="m20b" ng-style="{'color':skin.view.viewSecondaryTextColor}" ng-show="index.needsBackup" translate>You must backup your wallet first.</div>
    </div>
    <ul class="no-bullet m0" ng-show="!index.needsBackup">
      <li ng-click="preferences.delete()"
        ng-style="{'background':skin.view.viewListItemBackground, 'border-bottom-color':skin.view.viewListItemSeparatorColor}">
        <div class="right text-gray" ng-style="{'color':skin.view.viewSecondaryTextColor}">
          {{index.walletName}} <span ng-show="index.alias">({{index.alias}})</span>
        </div>
        <div ng-style="{'color':skin.view.viewPrimaryTextColor}" translate>Delete words</div>
      </li>
    </ul>
  </div>

  <div class="row m20t" ng-show="preferences.deleted">
    <div class="columns size-14 text-gray text-center" ng-style="{'color':skin.view.viewSecondaryTextColor}" translate>
      Wallet seed not available. You can still export it from Advanced &gt; Export.
    </div>
  </div>

</ion-content>
