
<div 
  class="topbar-container" 
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Wallet Preferences'; closeToHome = true">
</div>


<ion-content class="content preferences" ng-controller="preferencesController as preferences" ng-init="preferences.init()"
  ng-class="{'status-bar-content':index.useViewManagedStatusBar}" ng-style="{'background':skin.view.viewBackground}">

  <h4 ng-style="{'background':skin.view.viewBackground}"></h4>

  <ul class="no-bullet m0" ng-show="!index.noFocusedWallet">

    <li ng-click="$root.go('preferencesAlias')"
      ng-style="{'background':skin.view.viewListItemBackground, 'border-bottom-color':skin.view.viewListItemSeparatorColor}">
      <div class="right text-gray" ng-style="{'color':skin.view.viewSecondaryTextColor}">
        {{index.alias||index.walletName}}
        <i class="icon-arrow-right3 size-24"></i>
      </div>
      <div ng-style="{'color':skin.view.viewPrimaryTextColor}" translate>Alias</div>
    </li>

    <li ng-click="$root.go('preferencesEmail')"
      ng-style="{'background':skin.view.viewListItemBackground, 'border-bottom-color':skin.view.viewListItemSeparatorColor}">
      <div class="right text-gray" ng-style="{'color':skin.view.viewSecondaryTextColor}">
        <span ng-if="!index.preferences.email" translate>Disabled</span>
        <span ng-if="index.preferences.email">{{index.preferences.email}}</span>
        <i class="icon-arrow-right3 size-24"></i>
      </div>
      <div ng-style="{'color':skin.view.viewPrimaryTextColor}" translate>Email Notifications</div>
    </li>

    <!-- Legacy color entry -->
    <!-- TODO: remove at the intruduction of themes & skins -->
    <li ng-click="$root.go('preferencesSkin')" ng-show="!index.brand.features.theme.skinGallery.enabled"
      ng-style="{'background':skin.view.viewListItemBackground, 'border-bottom-color':skin.view.viewListItemSeparatorColor}">
      <div class="right text-gray" ng-style="{'color':skin.view.viewSecondaryTextColor}">
        <span ng-style="{'color':skin.view.homeTopBackground}">&block;</span>
        <i class="icon-arrow-right3 size-24"></i>
      </div>      
      <div ng-style="{'color':skin.view.viewPrimaryTextColor}" translate>Color</div>
    </li>

    <li ng-click="$root.go('preferencesSkin')" ng-show="index.brand.features.theme.skinGallery.enabled"
      ng-style="{'background':skin.view.viewListItemBackground, 'border-bottom-color':skin.view.viewListItemSeparatorColor}">
      <div class="right text-gray" ng-style="{'color':skin.view.viewSecondaryTextColor}">
        <i class="icon-arrow-right3 size-24 right"></i>
        <span>{{skin.header.name}}</span>
      </div>      
      <div ng-style="{'color':skin.view.viewPrimaryTextColor}" translate>Skin</div>
    </li>

    <li ng-show="index.isPrivKeyExternal"
      ng-style="{'background':skin.view.viewListItemBackground, 'border-bottom-color':skin.view.viewListItemSeparatorColor}">
      <div class="right text-gray" ng-style="{'color':skin.view.viewSecondaryTextColor}">
        {{preferences.externalSource}} 
        <!-- (Accont {{preferences.externalAccount}}) -->
      </div>
      <div ng-style="{'color':skin.view.viewPrimaryTextColor}" translate>Hardware wallet</div>
    </li> 

    <li ng-click="$root.go('backup')"  ng-hide="index.isPrivKeyExternal"
      ng-style="{'background':skin.view.viewListItemBackground, 'border-bottom-color':skin.view.viewListItemSeparatorColor}">
      <div class="right text-gray" ng-style="{'color':skin.view.viewSecondaryTextColor}">
        <span ng-style="{'color':skin.view.viewAlertTextColor}" ng-show="index.needsBackup">
          <i class="fi-alert"></i> <span translate>Not completed</span>
        </span>
        <i class="icon-arrow-right3 size-24"></i>
      </div>
      <div ng-style="{'color':skin.view.viewPrimaryTextColor}" translate>Backup</div>
    </li>

    <li ng-click="$root.go('preferencesAdvanced')"
      ng-style="{'background':skin.view.viewListItemBackground, 'border-bottom-color':skin.view.viewListItemSeparatorColor}">
      <i class="icon-arrow-right3 size-24 right text-gray" ng-style="{'color':skin.view.viewSecondaryTextColor}"></i>  
      <div ng-style="{'color':skin.view.viewPrimaryTextColor}" translate>Advanced</div>
    </li>

  </ul>

  <h4 translate ng-show="index.canSign || !deleted" ng-style="{'color':skin.view.viewSectionHeaderColor, 'background':skin.view.viewSectionHeaderBackground}">
    Security preferences
  </h4>

  <div ng-show="!index.noFocusedWallet && index.canSign">

    <ul class="no-bullet m0">

      <li ng-style="{'background':skin.view.viewListItemBackground, 'border-bottom-color':skin.view.viewListItemSeparatorColor}">
        <span class="right text-gray" ng-style="{'color':skin.view.viewSecondaryTextColor}">
          <label class="toggle">
             <input type="checkbox" id="network-name" name="encrypt" ng-model="encrypt">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
        </span>
        <div ng-style="{'color':skin.view.viewPrimaryTextColor}" translate>Request Password</div>
      </li>

      <li ng-show="preferences.touchidAvailable"
        ng-style="{'background':skin.view.viewListItemBackground, 'border-bottom-color':skin.view.viewListItemSeparatorColor}">
        <span class="right text-gray" ng-style="{'color':skin.view.viewSecondaryTextColor}">
          <label class="toggle">
             <input type="checkbox" id="touchid" name="touchid" ng-model="touchid">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
        </span>
        <div ng-style="{'color':skin.view.viewPrimaryTextColor}" translate>Scan Fingerprint</div>
      </li>
    </ul>

  </div>
  <div ng-show ="!deleted">

    <ul class="no-bullet m0">
      <li ng-click="$root.go('deleteWords')"
        ng-style="{'background':skin.view.viewListItemBackground, 'border-bottom-color':skin.view.viewListItemSeparatorColor}">
        <i class="icon-arrow-right3 size-24 right text-gray" ng-style="{'color':skin.view.viewSecondaryTextColor}"></i>
        <div ng-style="{'color':skin.view.viewPrimaryTextColor}" translate>Delete Seed Words</div>
      </li>
    </ul>

  </div>

</ion-content>

<div class="extra-margin-bottom"></div>
