<div
  class="topbar-container"
  ng-include="'views/includes/topbar.html'"
  ng-init="titleSection='Preferences'; goBackToState = 'glidera'; useTheme = true">
</div>

<div class="content preferences" ng-controller="preferencesGlideraController as glidera"
  ng-style="{'background':theme.view.viewBackground}">

  <ul ng-if="index.glideraToken" class="no-bullet m0">
    <h4 class="title m0" ng-style="{'color':theme.view.viewSectionHeaderColor, 'background':theme.view.viewSectionHeaderBackground}">Permissions</h4>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Email</span>
    <span class="right text-gray theme-s-text">
      {{index.glideraPermissions.view_email_address}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Personal Information</span>
    <span class="right text-gray theme-s-text">
      {{index.glideraPermissions.personal_info}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Buy/Sell</span>
    <span class="right text-gray theme-s-text">
      {{index.glideraPermissions.transact}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Transaction History</span>
    <span class="right text-gray theme-s-text">
      {{index.glideraPermissions.transaction_history}}
    </span>
    </li>
  </ul>

  <ul ng-if="index.glideraPermissions.view_email_address"
    ng-init="glidera.getEmail(index.glideraToken)"
    class="no-bullet m0">
    <h4 class="title m0" ng-style="{'color':theme.view.viewSectionHeaderColor, 'background':theme.view.viewSectionHeaderBackground}">Email</h4>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Email</span>
    <span class="right text-gray theme-s-text">
      {{glidera.email.email}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Active</span>
    <span class="right text-gray theme-s-text">
      {{glidera.email.userEmailIsSetup}}
    </span>
    </li>
  </ul>

  <ul ng-if="index.glideraPermissions.personal_info"
    ng-init="glidera.getPersonalInfo(index.glideraToken)"
    class="no-bullet m0">
    <h4 class="title m0" ng-style="{'color':theme.view.viewSectionHeaderColor, 'background':theme.view.viewSectionHeaderBackground}">Personal Information</h4>

    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">First Name</span>
    <span class="right text-gray theme-s-text">
      {{glidera.personalInfo.firstName}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Middle Name</span>
    <span class="right text-gray theme-s-text">
      {{glidera.personalInfo.middleName}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Last Name</span>
    <span class="right text-gray theme-s-text">
      {{glidera.personalInfo.lastName}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Birth Date</span>
    <span class="right text-gray theme-s-text">
      {{glidera.personalInfo.birthDate}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Address 1</span>
    <span class="right text-gray theme-s-text">
      {{glidera.personalInfo.address1}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Address 2</span>
    <span class="right text-gray theme-s-text">
      {{glidera.personalInfo.address2}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">City</span>
    <span class="right text-gray theme-s-text">
      {{glidera.personalInfo.city}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">State</span>
    <span class="right text-gray theme-s-text">
      {{glidera.personalInfo.state}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">ZIP Code</span>
    <span class="right text-gray theme-s-text">
      {{glidera.personalInfo.zipCode}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Country</span>
    <span class="right text-gray theme-s-text">
      {{glidera.personalInfo.countryCode}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Occupation</span>
    <span class="right text-gray theme-s-text">
      {{glidera.personalInfo.occupation}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Basic Information State</span>
    <span class="right text-gray theme-s-text">
      {{glidera.personalInfo.basicInfoState}}
    </span>
    </li>
  </ul>

  <ul ng-if="index.glideraToken" ng-init="glidera.getStatus(index.glideraToken)"
    class="no-bullet m0">
    <h4 class="title m0" ng-style="{'color':theme.view.viewSectionHeaderColor, 'background':theme.view.viewSectionHeaderBackground}">Status</h4>

    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Buy/Sell</span>
    <span class="right text-gray theme-s-text">
      {{glidera.status.userCanTransact}}
    </span>
    </li>

    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Buy</span>
    <span class="right text-gray theme-s-text">
      {{glidera.status.userCanBuy}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Sell</span>
    <span class="right text-gray theme-s-text">
      {{glidera.status.userCanSell}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Email Is Setup</span>
    <span class="right text-gray theme-s-text">
      {{glidera.status.userEmailIsSetup}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Phone Is Setup</span>
    <span class="right text-gray theme-s-text">
      {{glidera.status.userPhoneIsSetup}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Bank Account Is Setup</span>
    <span class="right text-gray theme-s-text">
      {{glidera.status.userBankAccountIsSetup}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Personal Information State</span>
    <span class="right text-gray theme-s-text">
      {{glidera.status.personalInfoState}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Bank Account State</span>
    <span class="right text-gray theme-s-text">
      {{glidera.status.bankAccountState}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Country</span>
    <span class="right text-gray theme-s-text">
      {{glidera.status.country}}
    </span>
    </li>
  </ul>

  <ul ng-if="index.glideraToken" ng-init="glidera.getLimits(index.glideraToken)"
    class="no-bullet m0">
    <h4 class="title m0" ng-style="{'color':theme.view.viewSectionHeaderColor, 'background':theme.view.viewSectionHeaderBackground}">Limits</h4>

    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Daily Buy</span>
    <span class="right text-gray theme-s-text">
      {{glidera.limits.dailyBuy|currency:'':2}} {{glidera.limits.currency}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Daily Sell</span>
    <span class="right text-gray theme-s-text">
      {{glidera.limits.dailySell|currency:'':2}} {{glidera.limits.currency}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Monthly Buy</span>
    <span class="right text-gray theme-s-text">
      {{glidera.limits.monthlyBuy|currency:'':2}} {{glidera.limits.currency}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Monthly Sell</span>
    <span class="right text-gray theme-s-text">
      {{glidera.limits.monthlySell|currency:'':2}} {{glidera.limits.currency}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Daily Buy Remaining</span>
    <span class="right text-gray theme-s-text">
      {{glidera.limits.dailyBuyRemaining|currency:'':2}} {{glidera.limits.currency}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Daily Sell Remaining</span>
    <span class="right text-gray theme-s-text">
      {{glidera.limits.dailySellRemaining|currency:'':2}} {{glidera.limits.currency}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Monthly Buy Remaining</span>
    <span class="right text-gray theme-s-text">
      {{glidera.limits.monthlyBuyRemaining|currency:'':2}} {{glidera.limits.currency}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Monthly Sell Remaining</span>
    <span class="right text-gray theme-s-text">
      {{glidera.limits.monthlySellRemaining|currency:'':2}} {{glidera.limits.currency}}
    </span>
    </li>
    <li ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <span class="theme-p-text">Buy/Sell Disabled (pending first transaction)</span>
    <span class="right text-gray theme-s-text">
      {{glidera.limits.transactDisabledPendingFirstTransaction}}
    </span>
    </li>
  </ul>

  <ul class="no-bullet m0">
    <h4 class="title m0" ng-style="{'color':theme.view.viewSectionHeaderColor, 'background':theme.view.viewSectionHeaderBackground}">Account</h4>

    <li ng-click="glidera.revokeToken(index.glideraTestnet)"
      ng-style="{'background':theme.view.viewListItemBackground, 'border-bottom-color':theme.view.viewListItemSeparatorColor}">
    <i class="icon-arrow-right3 size-24 right text-gray theme-s-text"></i>
    <span class="theme-a-text">Log out</span>
    </li>
  </ul>
  <h4 ng-style="{'background':theme.view.viewBackground}"></h4>

</div>
<div class="extra-margin-bottom"></div>
