	<div
	  class="topbar-container"
	  ng-include="'views/includes/topbar.html'"
	  ng-init="titleSection='Terms of Use'; goBackToState = 'about'; useTheme = true">
	</div>

	<style type="text/css">
		h2[tou] { color: {{theme.view.viewPrimaryTextColor}}; }
		li[tou] { color: {{theme.view.viewPrimaryTextColor}}; }
	</style>

	<ion-content ng-controller="termOfUseController" class="content" style="padding: 0 20px 0 20px"
		ng-class="{'status-bar-content':index.isCordova}" ng-style="{'background':theme.view.viewBackground}">
		<p class="enable_text_select m0">
      <div ng-repeat="item in index.brand.disclaimer track by $index" ng-bind-html="item | sanitize">{{item.value|translate}}</div>
		</p>
		<div class="row text-center">
			<p ng-show="lang != 'en'">
				<a class="center a-link" ng-click="$root.openExternalLink('https://copay.io/disclaimer')" translate>Official English Disclaimer</a>
			</p>
		</div>
	</ion-content>
	<div class="extra-margin-bottom"></div>
