<ion-modal-view ng-controller="customizedAmountController">
  <nav class="tab-bar"
    ng-class="{'status-bar-space': index.isCordova}" ng-style="{'background':skin.view.navBarBackground, 'border-bottom':skin.view.navBarBorderBottom}">

    <!-- status bar -->
    <div ng-class="index.isCordova ? 'status-bar' : 'no-status-bar'"
      ng-style="{'background': skin.view.statusBarBackground, 'border-bottom': skin.view.statusBarBorderBottom}">
    </div>

    <div class="pr">

      <section class="left-small">
        <a ng-click="cancel()" class="p10" ng-style="{'color':skin.view.navBarButtonTextColor}" >
          <span class="text-close" translate>Close</span>
        </a>
      </section>
      <section class="middle tab-bar-section">
        <h1 class="title ellipsis" ng-style="{'color':skin.view.navBarTitleColor}" translate>
          Request a specific amount
        </h1>
      </section>
      
    </div>
  </nav>

  <ion-content class="modal-content"
    ng-class="{'status-bar-content':index.isCordova}" ng-style="{'background':skin.view.viewBackground}">
    <div class="m20b" ng-show="customizedAmountBtc">
    <h4 class="title m0" ng-style="{'color':skin.view.viewSectionHeaderColor, 'background':skin.view.viewSectionHeaderBackground}"
      translate>QR Code</h4>
    <ul class="no-bullet size-14 m0">
      <li class="line-b p10 oh text-center"
        ng-style="{'background':skin.view.viewListItemBackground, 'border-bottom-color':skin.view.viewListItemSeparatorColor}">
        <qrcode size="220" data="bitcoin:{{addr + '?amount=' + customizedAmountBtc}}"></qrcode>
        <div class="m10t text-center" ng-show="isCordova">
          <span class="button outline dark-gray tiny round"
            ng-style="{'background':skin.view.secondaryButtonBackground, 'border':skin.view.secondaryButtonBorder, 'color':skin.view.secondaryButtonTextColor}"
            ng-click="shareAddress('bitcoin:' + addr + '?amount=' + customizedAmountBtc)">
            <i class="fi-share"></i>
            <span translate>Share address</span>
          </span>
        </div>
      </li>
    </ul>
    <h4 class="title m0" ng-style="{'color':skin.view.viewSectionHeaderColor, 'background':skin.view.viewSectionHeaderBackground}"
      translate>Details</h4>
    <ul class="no-bullet size-14 m0">
      <li class="line-b p10 oh" ng-style="{'background':skin.view.viewListItemBackground, 'border-bottom-color':skin.view.viewListItemSeparatorColor}">
      <span class="text-gray" ng-style="{'color':skin.view.viewPrimaryTextColor}" translate>Address</span>
      <span class="right">
        <span class="text-gray enable_text_select" ng-style="{'color':skin.view.viewSecondaryTextColor}">{{addr}}</span>
      </span>
      </li>
      <li class="line-b p10 oh" ng-style="{'background':skin.view.viewListItemBackground, 'border-bottom-color':skin.view.viewListItemSeparatorColor}">
      <span class="text-gray" ng-style="{'color':skin.view.viewPrimaryTextColor}" translate>Amount</span>
      <span class="right" ng-style="{'color':skin.view.viewSecondaryTextColor}">
        {{customizedAmountUnit}}
        <span class="label gray radius"
          ng-style="{'color':skin.view.complementaryColor, 'background-color':skin.view.primaryColor}">
          {{customizedAlternativeUnit}}
        </span>
      </span>
      </li>
    </ul>
    </div>
    <div ng-show="!customizedAmountBtc" class="row m20t">
      <div class="large-12 large-centered columns">
        <form name="amountForm" ng-submit="submitForm(amountForm)" novalidate>
          <div class="right" ng-hide="amountForm.amount.$pristine && !amountForm.amount.$modelValue ">
            <span class="has-error right size-12" ng-style="{'color':skin.view.viewAlertTextColor}" ng-if="amountForm.amount.$invalid">
              <i class="icon-close-circle size-14"></i>
              <span clas="vm" translate>Not valid</span>
            </span>
            <small class="right" ng-style="{'color':skin.view.viewSuccessTextColor}" ng-if="!amountForm.amount.$invalid">
              <i class="icon-checkmark-circle size-14"></i>
            </small>
          </div>
          <div ng-if="!showAlternative">
            <label for="amount" ng-style="{'color':skin.view.viewPrimaryTextColor}">
              <span translate>Amount</span>
            </label>
            <div class="input">
              <input type="number" id="amount" name="amount" ng-attr-placeholder="{{'Amount in'|translate}} {{unitName}}"
              ng-model="_customAmount" ng-minlength="0.00000001" ng-maxlength="10000000000" valid-amount required autocomplete="off"
              ng-style="{'color':skin.view.viewSecondaryTextColor, 'border-bottom-color':skin.view.viewListItemSeparatorColor}">
              <input type="number" id="alternative"  name="alternative"  ng-model="_customAlternative" style="display:none">
              <a class="postfix button"
                ng-style="{'background-color':skin.view.primaryColor}"
                ng-click="toggleAlternative()">
                <div ng-style="{'color':skin.view.complementaryColor}">{{unitName}}</div></a>
            </div>
          </div>
          <div ng-if="showAlternative">
            <label for="alternative" ng-style="{'color':skin.view.viewPrimaryTextColor}"><span translate>Amount</span> [{{ alternativeIsoCode }}]
            </label>
            <div class="input">
              <input type="number" id="alternative" name="alternative" ng-attr-placeholder="{{'Amount in'|translate}} {{alternativeName}}" 
              ng-model="_customAlternative" required autocomplete="off" required
              ng-style="{'color':skin.view.viewSecondaryTextColor, 'border-bottom-color':skin.view.viewListItemSeparatorColor}">
              <input type="number" id="amount" name="amount" ng-model="_customAmount" style="display:none">
              <a class="postfix button"
                ng-style="{'background-color':skin.view.primaryColor}"
                ng-click="toggleAlternative()">
                <div ng-style="{'color':skin.view.complementaryColor}">{{alternativeIsoCode}}</div></a>
            </div>
          </div>
          <button type="submit" class="button black round expand"
          ng-style="{'background':skin.view.primaryButtonBackground, 'border':skin.view.primaryButtonBorder, 'color':skin.view.primaryButtonTextColor}"
          ng-disabled="amountForm.$invalid" translate>
            Generate QR Code
          </button>
        </form>
      </div>
    </div>

    <div class="extra-margin-bottom"></div>
  </ion-content>
</ion-modal-view>
