<ion-modal-view ng-controller="payproController">
  <nav class="tab-bar"
    ng-class="{'status-bar-space': index.useViewManagedStatusBar}" ng-style="{'background':skin.view.navBarBackground, 'border-bottom':skin.view.navBarBorderBottom}">

    <!-- status bar -->
    <div ng-class="index.useViewManagedStatusBar ? 'status-bar' : 'no-status-bar'"
      ng-style="{'background': skin.view.statusBarBackground, 'border-bottom': skin.view.statusBarBorderBottom}">
    </div>

    <div class="pr">

      <section class="left-small">
        <a ng-click="cancel()" class="p10" ng-style="{'color':skin.view.navBarButtonTextColor}">
          <span class="text-close" translate>Close</span>
        </a>
      </section>
      <section class="middle tab-bar-section">
        <h1 class="title ellipsis" ng-style="{'color':skin.view.navBarTitleColor}" translate>
          Payment request
        </h1>
      </section>

    </div>
  </nav>

  <ion-content class="modal-content"
    ng-class="{'status-bar-content':index.useViewManagedStatusBar}" ng-style="{'background':skin.view.viewBackground}">
    <div class="header-modal text-center">
      <div class="size-42" ng-style="{'color':skin.view.viewPrimaryTextColor}">
        {{unitTotal}}  {{unitName}}
      </div>
      <div class="size-18 m5t text-gray" ng-style="{'color':skin.view.viewSecondaryTextColor}" ng-show="alternative">
        {{ alternative }} {{ alternativeIsoCode }}
      </div>
    </div>

    <h4 class="title m0" translate>Details</h4>
    <ul class="no-bullet size-14 m0">
      <li class="line-b p10 oh">
      <span class="text-gray" ng-style="{'color':skin.view.viewSecondaryTextColor}" translate>Pay To</span>
      <span class="right enable_text_select">{{paypro.domain}}</span>
      </li>
      <li class="line-b p10 oh" ng-if="paypro.toAddress">
      <span class="text-gray" ng-style="{'color':skin.view.viewSecondaryTextColor}" translate>Address</span>
      <span class="right enable_text_select">{{paypro.toAddress}}</span>
      </li>
      <li class="line-b p10 oh">
      <span class="text-gray" ng-style="{'color':skin.view.viewSecondaryTextColor}" translate>Certified by</span>
      <span class="right text-right">
        <span ng-show="paypro.caTrusted">
          <i class="fi-lock color-greeni"></i> 
          {{paypro.caName}}<br>
          <span translate>(Trusted)</span>
        </span>
        <span ng-show="!paypro.caTrusted">
          <span ng-show="paypro.selfSigned">
            <i class="fi-unlock color-yellowi"></i> <span translate>Self-signed Certificate</span>
          </span>
          <span ng-show="!paypro.selfSigned">
            <i class="fi-unlock color-yellowi"></i>{{paypro.caName}}<br>
            <span ng-style="{'color':skin.view.viewAlertTextColor}" translate><i class="fi-alert"></i>&nbsp;WARNING: UNTRUSTED CERTIFICATE</span>
          </span>
        </span>
      </span>
      </li>
      <li class="line-b p10 oh" ng-if="paypro.memo">
      <span class="text-gray" ng-style="{'color':skin.view.viewSecondaryTextColor}" translate>Memo</span>
      <span class="right">{{paypro.memo}}</span>
      </li>
      <li class="line-b p10 oh" ng-if="paypro.expires">
      <span class="text-gray" ng-style="{'color':skin.view.viewSecondaryTextColor}" translate>Expires</span>
      <span class="right">{{paypro.expires * 1000 | amTimeAgo }}</span>
      </li>
    </ul>
    <div class="extra-margin-bottom"></div>
  </ion-content>
</ion-modal-view>
