<ion-modal-view ng-controller="txSearchController as search">
  <nav class="tab-bar"
    ng-class="{'status-bar-space': index.useViewManagedStatusBar}" ng-style="{'background':skin.view.navBarBackground, 'border-bottom':skin.view.navBarBorderBottom}">

    <!-- status bar -->
    <div ng-class="index.useViewManagedStatusBar ? 'status-bar' : 'no-status-bar'"
      ng-style="{'background': skin.view.statusBarBackground, 'border-bottom': skin.view.statusBarBorderBottom}">
    </div>

    <div class="pr">

      <div class="row searchBar">
        <div class="small-11 columns">
          <div class="searchLabel" ng-style="{'background':skin.view.viewBackground, 'border-color':skin.view.navBarButtonTextColor}">
            <i class="fi-magnifying-glass size-14" ng-style="{'color':skin.view.viewSecondaryTextColor}"></i>
            <form>
              <input name="search"
                type="search"
                ng-change="updateSearchInput(search)"
                placeholder="{{'Search transactions' | translate}}"
                ng-model="search">
              </input>
            </form>
          </div>
        </div>
        <div class="small-1 columns cancel">
          <a ng-click="cancel()" ng-style="{'color':skin.view.navBarButtonTextColor}" translate>Cancel</a>
        </div>
      </div>

    </div>
  </nav>

  <ion-content overflow-scroll="true" class="modal-content"
    ng-class="{'status-bar-content':index.useViewManagedStatusBar}" ng-style="{'color':skin.view.homeBottomTextColor, 'background':skin.view.viewBackground}">

    <ion-list>
      <div ng-repeat="btx in home.txHistorySearchResults() track by btx.txid"
        ng-click="home.openTxModal(btx)"
        class="row collapse last-transactions-content" ng-style="{'background':skin.view.homeListItemBackground, 'border-bottom':skin.view.homeListItemBorderBottom}">
        <div class="large-6 medium-6 small-6 columns size-14">
          <div class="m10r left">
            <img src="img/icon-receive-history.svg" alt="sync" width="40" ng-show="btx.action == 'received'">
            <img src="img/icon-sent-history.svg" alt="sync" width="40" ng-show="btx.action == 'sent'">
            <img src="img/icon-moved.svg" alt="sync" width="40" ng-show="btx.action == 'moved'">
          </div>
          <div class="m10t" ng-style="{'color':skin.view.viewPrimaryTextColor}">
            <span ng-show="btx.action == 'received'" translate>Received</span>
            <span ng-show="btx.action == 'sent'">
              {{index.addressbook[btx.addressTo]}}
              <span ng-show="!index.addressbook[btx.addressTo] && btx.message">
                <span class="ellipsis">{{btx.message}}</span>
              </span>
              <span ng-show="!index.addressbook[btx.addressTo] && !btx.message">
                <span translate> Sent</span>
              </span>
            </span>
            <span ng-show="btx.action == 'moved'" translate>Moved</span>
            <span class="label tu radius" ng-style="{'color':skin.view.viewAlertTextColor}" ng-show="btx.action == 'invalid'" translate>Invalid</span>
          </div>
        </div>

        <div class="large-5 medium-5 small-5 columns text-right" ng-style="{'color':skin.view.viewPrimaryTextColor}">
          <span class="size-16" ng-class="{'text-bold': btx.recent}">
            <span ng-if="btx.action == 'received'">+</span>
            <span ng-if="btx.action == 'sent'">-</span>
            <span  class="size-12" ng-if="btx.action == 'invalid'" translate>
            (possible double spend)
            </span>
            <span  ng-if="btx.action != 'invalid'">
            {{btx.amountStr}}
            </span>
          </span>
          <div class="size-12" ng-style="{'color':skin.view.homeBottomSecondaryTextColor}">
            <time ng-if="btx.time">{{btx.time * 1000 | amTimeAgo}}</time>
            <span translate  ng-style="{'color':skin.view.viewAlertTextColor}"
              ng-show="!btx.time && (!btx.confirmations || btx.confirmations == 0)">
              Unconfirmed
            </span>
          </div>
        </div>
        <div class="large-1 medium-1 small-1 columns text-right m10t">
          <i class="icon-arrow-right3 size-18"></i>
        </div>
      </div>

      <ion-infinite-scroll distance="2" on-infinite="showMore()" ng-if="historyShowMore()">
      </ion-infinite-scroll>
    </ion-list>

    <div class="extra-margin-bottom"></div>
  </ion-content>
</ion-modal-view>
