<div class="modalMask"></div>

<div class="confirmTxModal" ng-controller="confirmTxController as confirm" ng-init="tx = index.confirmTx.txp">

  <div class="confirmHead" ng-style="{'color':skin.view.navBarTitleColor, 'background':skin.view.navBarBackground}">
    <h1 class="m0 text-center text-white size-14" style="font-weight: 500" translate>Confirm transaction</h1>
  </div>
  <div class="p10" ng-style="{'background':skin.view.viewBackground}">
    <div class="size-36 skin-p-text">{{tx.amountStr}}</div>
    <div class="size-14 text-light skin-s-text" ng-show="tx.alternativeAmountStr">{{tx.alternativeAmountStr}}</div>
    <i class="db fi-arrow-down size-24 m10v skin-p-text"></i>
    <div class="payment-proposal-to" ng-click="copyToClipboard(tx.toAddress)">
      <i class="fi-bitcoin left m10l skin-p-text"></i>
      <contact ng-if="!tx.hasMultiplesOutputs" class="dib enable_text_select ellipsis m5t m5b m15l size-14 skin-p-text" address="{{tx.toAddress}}"></contact>
      <span class="skin-p-text" ng-if="tx.hasMultiplesOutputs" translate>
        Multiple recipients
      </span>
    </div>
    <div class="text-bold m10t size-12 skin-s-text">
      <span translate>Fee</span>: {{tx.feeStr}}
    </div>
    <div class="row m20t">
      <div class="large-6 medium-6 small-6 columns">
        <button 
           ng-click="confirm.close(index.confirmTx.callback)"
           class="small m10b round outline dark-gray expand"
           ng-style="{'background':skin.view.secondaryButtonBackground, 'border':skin.view.secondaryButtonBorder, 'color':skin.view.secondaryButtonTextColor}" translate>
          Cancel
        </button>
      </div>
      <div class="large-6 medium-6 small-6 columns">
        <button 
           ng-click="confirm.accept(index.confirmTx.callback)"
           class="small m10b round expand" 
           ng-style="{'background':skin.view.primaryButtonBackground, 'border':skin.view.primaryButtonBorder, 'color':skin.view.primaryButtonTextColor}" translate>
          Accept
        </button>
      </div> 
    </div>
  </div>
</div>
