/***********************************************************************************************************
 *
 * Variables
 * 
 ***********************************************************************************************************/

/*
 * Define color palettes
 */

$color-palettes: (
  copay-default: (
    primary:        #192c3a,
    secondary:      #31465b,
    accent:         #1abb9b,
    ctrl-primary:   #1abb9b,
    ctrl-secondary: #0c5d4d,
    ctrl-accent:    #192c3a,
    text-light:     #c2c9d1,
    text-dark:      #192c3a,
    text-link:      #1abb9b,
    success:        #1abb9b,
    alert:          #bb331a
  )
);

/*
 * Choose color palette
 */

$selected-palette: copay-default;
$palette: map-get($color-palettes, $selected-palette);

/*
 * Set colors based on the selected palette
 */

$app-primary-color:                map-get($palette, primary);
$app-secondary-color:              map-get($palette, secondary);
$app-accent-color:                 map-get($palette, accent);

$ctrl-primary-color:               map-get($palette, ctrl-primary);
$ctrl-secondary-color:             map-get($palette, ctrl-secondary);
$ctrl-accent-color:                map-get($palette, ctrl-accent);

$text-dark-color:                  map-get($palette, text-dark);
$text-light-color:                 map-get($palette, text-light);
$text-link-color:                  map-get($palette, text-link);

$alert-color:                      map-get($palette, alert);
$success-color:                    map-get($palette, success);

/*
 * Set element colors
 */

$icon-color:                       $app-accent-color;
$icon-negative-color:              $app-accent-color;

$primary-button-color:             $ctrl-primary-color;
$primary-button-text-color:        $ctrl-accent-color;

$secondary-button-color:           $ctrl-secondary-color;
$secondary-button-text-color:      $ctrl-primary-color;

$check-button-color:               $ctrl-secondary-color;
$toggle-button-color:              $ctrl-secondary-color;

$primary-background-color:         $app-primary-color;
$secondary-background-color:       $app-secondary-color;
$accent-background-color:          $app-accent-color;

$gradient-bg-top-color:            $app-primary-color;
$gradient-bg-bottom-color:         $app-secondary-color;

/*
 * Third-party brand specific colors
 */

$bitcoin-orange-color:                  #FF9900;

$bitpay-primary-button-color:           $soft-blue;
$bitpay-primary-button-activated-color: #4E69E5;
$bitpay-button-text-color:              white;

/***********************************************************************************************************
 *
 * Global styles
 * 
 ***********************************************************************************************************/

a {
  color: $text-link-color;
}

.box-notification.error {
  background-color: $alert-color;
  border-color: $alert-color;
  color: $text-dark-color;
}

/* 
 * Main header bar
 */

.bar.bar-header,
.bar.bar-royal {
  background: $primary-background-color !important;
  background-image: -webkit-linear-gradient(top, $gradient-bg-top-color 0%,$gradient-bg-bottom-color 100%);
  background-image: linear-gradient(to bottom, $gradient-bg-top-color 0%,$gradient-bg-bottom-color 100%);
  border-color: $secondary-background-color;

 .button {
    color: $primary-button-color;
    background-color: transparent;

    .icon:before {
      color: $primary-button-color;
    }
  }

 .title {
    color: $app-accent-color;
  }
}

/* 
 * Main tab icons
 */

.tabs .tab-item {
  .icon {
    background-repeat: no-repeat;
    background-position: center;
    margin: 6px 0 2px;
    &.ico-home {
      background-image: url(/img/app/tab-icons/ico-home.svg);
    }
    &.ico-home-selected {
      background-image: url(/img/app/tab-icons/ico-home-selected.svg);
    }
    &.ico-receive {
      background-image: url(/img/app/tab-icons/ico-receive.svg);
    }
    &.ico-receive-selected {
      background-image: url(/img/app/tab-icons/ico-receive-selected.svg);
    }
    &.ico-settings {
      background-image: url(/img/app/tab-icons/ico-settings.svg);
    }
    &.ico-settings-selected {
      background-image: url(/img/app/tab-icons/ico-settings-selected.svg);
    }
    &.ico-scan {
      background-image: url(/img/app/tab-icons/ico-scan.svg);
    }
    &.ico-scan-selected {
      background-image: url(/img/app/tab-icons/ico-scan-selected.svg);
    }
    &.ico-send {
      background-image: url(/img/app/tab-icons/ico-send.svg);
    }
    &.ico-send-selected {
      background-image: url(/img/app/tab-icons/ico-send-selected.svg);
    }
  }
}

ion-tabs.tabs-color-active-positive {
  .tab-item.tab-item-active,
  .tab-item.activated {
    color: $app-accent-color;
  }
}

/*
 * Tob tabs
 */

.top-tabs .col {
  border-bottom-color: $app-accent-color !important;
}

/*
 * Buttons
 */

/* Primary */
.button.button-primary {
  background-color: $primary-button-color;
  color: $primary-button-text-color !important;
}

.button.button-primary.activated {
  background-color: $primary-button-color;
  opacity: 0.7;
}

/* Secondary */
.button.button-secondary {
  background-color: $secondary-button-color;
  color: $secondary-button-text-color !important;
}

.button.button-secondary.activated {
  background-color: $secondary-button-color;
  opacity: 0.7
}

/* Clear */
.button.button-clear {
  color: $primary-button-color !important;
}

.button.button-clear.activated {
  color: $primary-button-color;
  opacity: 0.7;
}

/*
 * Toggle buttons
 */

.toggle.toggle-balanced,
.toggle.toggle-positive {
  input:checked + .track {
    border-color: $toggle-button-color;
    background-color: $toggle-button-color;
  }
}

/*
 * Check buttons
 */

.checkbox-positive,
.checkbox-balanced {
  input:checked:before,
  input:checked + .checkbox-icon:before {
    background: $check-button-color;
    border-color: $check-button-color;
  }

  input:before,
  .checkbox-icon:before {
    border-color: $check-button-color;
  }
}

.checkbox input:checked:before,
.checkbox input:checked + .checkbox-icon:before {
  background: $check-button-color;
  border-color: $check-button-color;
}

/*
 * Popup modals
 */

.popup-modal-header-success {
  background: $success-color;
}

.popup-modal-header-warning {
  background: $alert-color;
}

.popup-modal-content-warning {
  .button {
    color: $alert-color !important;
  }
}

/***********************************************************************************************************
 *
 * View specific styles
 * 
 ***********************************************************************************************************/

/* 
 * Starting view
 */

#starting {
  background: $gradient-bg-top-color;
  background: -moz-linear-gradient(top, $gradient-bg-top-color 0%, $gradient-bg-bottom-color 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, $gradient-bg-bottom-color), color-stop(100%, $gradient-bg-bottom-color));
  background: -webkit-linear-gradient(top, $gradient-bg-top-color 0%, $gradient-bg-bottom-color 100%);
  background: -o-linear-gradient(top, $gradient-bg-top-color 0%, $gradient-bg-bottom-color 100%);
  background: -ms-linear-gradient(top, $gradient-bg-top-color 0%, $gradient-bg-bottom-color 100%);
  background: linear-gradient(to bottom, $gradient-bg-top-color 0%, $gradient-bg-bottom-color 100%);
  color: #fff;
}

/*
 * Onboarding views
 */

#onboard-welcome {
  &.onboarding {
    color: $text-light-color;
    background: $primary-background-color;
    background-image: linear-gradient(to bottom, $gradient-bg-top-color 0%, $gradient-bg-bottom-color 100%);
  }

  > ion-content {
    background: none;
  }

  img {
    content: url(/img/app/logo-negative.svg);
  }

  .button.button-primary {
    background-color: $primary-button-color;
    color: $primary-button-text-color !important;
  }

  .button.button-primary.activated {
    background-color: $primary-button-color;
    opacity: 0.7;
  }
}

#onboarding-tour {
  &.onboarding {
    color: $text-light-color;
    background: $primary-background-color;
    background-image: linear-gradient(to bottom, $gradient-bg-top-color 0%, $gradient-bg-bottom-color 100%);
  }

  .onboarding-description {
    color: $text-light-color;
    opacity: 0.5;
  }

  .onboarding-illustration-secure {
    background-image: url(/img/app/onboarding/tour-phone.svg)
  }

  .onboarding-illustration-currency {
    background-image: url(/img/app/onboarding/tour-currency.svg)
  }

  .onboarding-illustration-control {
    background-image: url(/img/app/onboarding/tour-control.svg)
  }

  .button.button-primary {
    background-color: $primary-button-color;
    color: $primary-button-text-color !important;
  }

  .button.button-primary.activated {
    background-color: $primary-button-color;
    opacity: 0.7;
  }

  .button.button-secondary {
    background-color: $primary-button-color;
    color: $primary-button-text-color !important;
  }

  .button.button-secondary.activated {
    background-color: $primary-button-color;
    opacity: 0.7;
  }

  .button.button-clear {
    color: $primary-button-color !important;
  }

  .button.button-clear.activated {
    color: $primary-button-color;
    opacity: 0.7;
  }

  .swiper-pagination-bullet {
    background: $ctrl-primary-color;
  }
}

#onboarding-push-notifications {
  .onboarding-illustration-notifications {
    background-image: url(/img/app/onboarding/push-notifications.svg)
  }
}

#onboarding-backup-request {
  &.onboarding {
    color: $text-light-color;
    background: $primary-background-color;
    background-image: linear-gradient(to bottom, $gradient-bg-top-color 0%, $gradient-bg-bottom-color 100%);
  }

  .onboarding-description {
    color: $text-light-color;
    opacity: 0.5;
  }

  .button.button-primary {
    background-color: $primary-button-color;
    color: $primary-button-text-color !important;
  }

  .button.button-primary.activated {
    background-color: $primary-button-color;
    opacity: 0.7;
  }

  .button.button-secondary {
    background-color: $secondary-button-color;
    color: $secondary-button-text-color !important;
  }

  .button.button-secondary.activated {
    background-color: $secondary-button-color;
    opacity: 0.7;
  }

  svg#alert-icon g {
    stroke: $alert-color;
  }

  #arrow-down {
    color: $alert-color;
  }
}

#onboarding-disclaimer {
  &.onboarding {
    color: $text-light-color;
    background: $primary-background-color;
    background-image: linear-gradient(to bottom, $gradient-bg-top-color 0%, $gradient-bg-bottom-color 100%);
  }

  .onboarding-description {
    color: $text-light-color;
    opacity: 0.5;
  }

  .item {
    color: $text-light-color;
  }

  .checkbox input:before,
  .checkbox .checkbox-icon:before {
    border-color: $success-color;
    background: transparent;
  }

  .checkbox {
    input:checked + .checkbox-icon:before {
      border-color: $success-color;
    }

    .checkbox-icon:after {
      border-color: $success-color;
    }
  }
}

#agree-to-terms {
  background: $secondary-background-color;

  p {
    color: $text-light-color;
  }

  a {
    color: $text-link-color;
  }

  .item {
    background: transparent;
  }

  .checkbox input:before,
  .checkbox .checkbox-icon:before {
    border-color: $success-color;
    background: transparent;
  }

  .checkbox {
    input:checked + .checkbox-icon:before {
      border-color: $success-color;
    }

    .checkbox-icon:after {
      border-color: $success-color;
    }
  }

  .button.button-positive {
    background-color: $primary-button-color;
    color: $primary-button-text-color !important;
  }

  .button.button-positive.activated {
    background-color: $primary-button-color;
    opacity: 0.7;
    border-color: transparent;
  }  
}

/*
 * Backup views
 */

#backup-warning {
  &.onboarding {
    color: $text-light-color;
    background: $primary-background-color;
    background-image: linear-gradient(to bottom, $gradient-bg-top-color 0%, $gradient-bg-bottom-color 100%);
  }

  .onboarding-description {
    color: $text-light-color;
    opacity: 0.5;
  }

  .onboarding-illustration-backup-warning {
    background-image: url(/img/app/backup-warning.svg);
  }

  .button.button-primary {
    background-color: $primary-button-color;
    color: $primary-button-text-color !important;
  }

  .button.button-primary.activated {
    background-color: $primary-button-color;
    opacity: 0.7;
  }
}

#wallet-backup-phrase {
  > ion-content {
    background: $primary-background-color;
    background-image: linear-gradient(to bottom, $gradient-bg-top-color 0%, $gradient-bg-bottom-color 100%);
  }

  #wallet-backup-phrase-step-1 {
    color: $text-light-color;
  }

  .backup-phrase {
    background-color: $secondary-background-color;
    border-color: $accent-background-color;
    color: $text-light-color;
  }

  #wallet-backup-phrase-step-2 {
    color: $text-light-color;

    #select-phrase {
      background: $primary-background-color;
    }

    .tldr-prompt {
      color: $text-light-color;
    }

    .select-word {
      background: $ctrl-primary-color;
      color: $text-dark-color;
    }
  }

  .button.button-primary {
    background-color: $primary-button-color;
    color: $primary-button-text-color !important;
  }

  .button.button-primary.activated {
    background-color: $primary-button-color;
    opacity: 0.7;
  }
}

/*
 * Other views
 */

#tab-home {
  ion-content {
    .list.card {
      i > img,
      i > div {
        border-radius: 3px;
      }
    }
  }

  .big-icon-svg > .bg.green {
    background: $success-color;
  }

  .icon-buy-bitcoin {
    background-color: $bitcoin-orange-color;
    background-image: url(/img/app/icon-bitcoin.svg);
  }
}

#walletDetails {
  .bar.bar-header {
    .button {
      background-color: transparent;
      .icon:before {
        color: white;
      }
    }

    .title {
      color: white;
    }
  }
}

#view-add {
  .bg {
    background-color: $icon-color;
  }
}

#addresses {
  .addr-list .item.view-all span {
    color: $app-primary-color;
  }

  .addr-list .item.view-all i {
    color: $app-primary-color;
  } 

  img {
    content: url(/img/app/tab-icons/ico-receive-selected.svg);
  }
} 

#bitpayCard-intro {
  .bar.bar-header {
    .button {
      background-color: transparent;
      .icon:before {
        color: $bitpay-button-text-color;
      }
    }

    .title {
      color: $bitpay-button-text-color;
    }
  }


  .button.button-primary {
    background-color: $bitpay-primary-button-color;
    color: $bitpay-button-text-color !important;
  }

  .button.button-primary.activated {
    background-color: $bitpay-primary-button-color;
    opacity: 0.7;
  }

  .button.button-clear {
    color: $bitpay-button-text-color !important;
  }
}

#tab-receive #address .backup,
.wallet-not-backed-up-warning {
  background: $alert-color;
}

#tab-scan {
  svg#QR-scanner-guides path.st1 {
    stroke: $app-accent-color;
  }
}

#tab-send {
  img {
    content: url(/img/app/tab-icons/ico-send-selected.svg);
  }
}

#view-amount {
  item-selector .item-selector .option > i {
    color: $app-secondary-color;
  }

  .keypad .operator-send {
    background-color: $primary-button-color;
  }
}

#view-address-book {
  i.icon>svg#Add_Contact path.st0 {
    stroke: $icon-negative-color;
  }
}

/***********************************************************************************************************
 *
 * User selectable wallet colors
 * 
 ***********************************************************************************************************/

$default-wallet-color-index: 6;

$wallet-color-map: (
   0: (color: #DD4B39, name: 'Cinnabar'),
   1: (color: #F38F12, name: 'Carrot Orange'),
   2: (color: #FAA77F, name: 'Light Salmon'),
   3: (color: #D0B136, name: 'Metallic Gold'),
   4: (color: #9EDD72, name: 'Feijoa'),
   5: (color: #29BB9C, name: 'Shamrock'),
   6: (color: #019477, name: 'Observatory'),
   7: (color: #77DADA, name: 'Turquoise Blue'),
   8: (color: #4A90E2, name: 'Cornflower Blue'),
   9: (color: #484ED3, name: 'Free Speech Blue'),
  10: (color: #9B59B6, name: 'Deep Lilac'),
  11: (color: #E856EF, name: 'Free Speech Magenta'),
  12: (color: #FF599E, name: 'Brilliant Rose'),
  13: (color: #7A8C9E, name: 'Light Slate Grey')
);

.wallet-color-count {
  content: '' + length($wallet-color-map);
}

/* background-color and color defaults should be the same */
$default-wallet-color: map-get( map-get($wallet-color-map, $default-wallet-color-index) , color);

.wallet-background-color-default {
  background-color: $default-wallet-color;
}

.wallet-color-default {
  color: $default-wallet-color;
}

/* generate classes for all colors */
@each $id, $map in $wallet-color-map {
  .wallet-color-#{$id} {
    background: map-get($map, color);
  }
  .wallet-color-#{$id}:before {
    content: map-get($map, name);
    margin-left: 2.4rem;
  }
}
